<!DOCTYPE html>
<html lang="en">
<head>
<title>Homepage</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link href='https://fonts.googleapis.com/css?family=Merriweather' rel='stylesheet' type='text/css'>

{% load staticfiles %}
<link rel='stylesheet'  href="{% static 'main/css/main.css' %}"
 type='text/css'/>
</head>

<body>	
	
	<div id="nav">
		<div id="nav-wrapper">
			<div id="navbar-header">
				<img id="navbar-brand" src="{% static 'about/img/Logo.jpg' %}" alt="our logo" style="height:70px;"></img>
			</div>
			<div id="links">
			<ul>
				<li><a href="/">Home</a></li><li>
				<a href="/menu">Menu</a></li><li>
				<a href="/about">About Us</a></li><li>
				<a href="/contact">Contact Us</a></li>
			</ul>
			</div>
		</div>
	</div>
	
	<h1><b>Welcome to Delectable!</h1></b>
	<hr>
	<p>Are you planning a party or celebration? Do you and your group want healthy food at a great price?
		Well you've come to the right place! Here at <i>Delectable</i>, you can find excellent catering,
		as well as good food, that's good for you.</p>
	<p>Please have a look at our varied selection of catering items</p>
	
	
	<div id="imgmaster">
	<div id="i1">
	<img id="salad" src="{% static 'main/img/salad.jpg' %}" alt="our salad" align="left"></img>
	<img id="fish" src="{% static 'main/img/fish.png' %}" alt="our fish" align="left"></img>
	</div>
	
	<div id="i2">
	<img id="soup1" src="{% static 'main/img/soup1.jpg' %}" alt="one of our soups" align="right"></img>
	<img id="bread" src="{% static 'main/img/bread.jpg' %}" alt="our bread" align="right"></img>
	</div>
	</div>
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	